/* Degugging outline */
/* * {
  outline: 1px solid red;
} */

/* Common classes */

.nobullet { list-style-type: none; }
.link:hover { text-decoration: none; }

.title {
  font-weight: bold;
  text-transform: uppercase;
}

.text_end { text-align: end; }
.text_center { text-align: center; }
.text__color-inverted { color: #FFFFFF; }
.text__menu { font-size: 18px; }
.text__content_title { font-size: 40px; }

.text__content_description {
  font-size: 20px;
  line-height: 120%;
}

.background-picture {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -2;
}

.cover::before,
.card::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.centered {
  position: absolute;
  inset: 50% 50%;
  transform: translate(-50%, -50%);
}

.menu-vertical {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu-horizontal {
  display: flex;
  flex-direction: row;
  list-style-position: inside;
  list-style-type: circle;
  gap: 13px;
}

.contacts {
  width: 240px;
  line-height: 135%;
  font-style: normal;
  overflow-wrap: break-word;
}

/* Specific classes */

/* Header */

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 293px;
  padding: 0 50px;
}

.header__logo {
  width: 148px;
  height: 105px;
}

/* Cover */

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 757px;
  padding: 50px;
}

.cover__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1000px;
  height: 385px;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30%;
}

.cover__description {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__subtitle {
  margin-right: auto;
  width: 637px;
  line-height: 28px;
  word-spacing: 18px;
}

/* Button */

.button_make-bet {
  margin-left: auto;
  width: 256px;
  height: 50px;
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid white;
  cursor: pointer;
}

.button_make-bet:hover {
  font-weight: bold;
  border-width: 2px;
}

/* Lots */

.lots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 180px 24px 120px 24px;
  gap: 30px;
}

.lots__title {
  margin-left: 40px;
  width: fit-content;
}

.lots__grid {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  margin: 0;
  gap: 25px;
}

/* Card */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  gap: 30px;
}

.card__title {
  font-size: 22px;
  line-height: 120%;
}

.lots__more {
  margin-left: 40px;
  width: fit-content;
  font-size: 20px;
  text-transform: lowercase;
}

/* About */

.about {
  display: flex;
  justify-content: space-between;
  margin: 0 24px 0 24px;
}

.about__logo_container {
  position: relative;
  width: 240px;
  height: 240px;
  background-color: #000000;
  border-radius: 50%;
  top: 35px;
  left: 47px;
}

.about__logo {
  width: 148px;
  height: 144px;
}

.about__content_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 693px;
  margin: 130px 0 180px 0;
  gap: 24px;
}

.about__title {
  margin-bottom: 100px;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 50px 82px 50px;
}

/* Socials */

.socials {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.social__icon {
  width: 48px;
  height: 48px;
}

.social__icon:hover {
  transform: scale(1.1);
}
