/* Degugging outline */
/* * {
  outline: 1px solid red;
} */

/* Pixelperfect debugging image */
/* .pixel-perfect-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
  width: 1100px;
  height: 3028px;
  z-index: 2;
  pointer-events: none;
} */

/* Common classes */

.nobullet {
  list-style-type: none;
}

.link-no-decoration,
.link:hover {
  text-decoration: none;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
}

.text__color-inverted {
  color: #ffffff;
}

.text__menu {
  font-size: 18px;
}

.text__title {
  font-size: 40px;
}

.text__description {
  font-size: 20px;
  line-height: 120%;
}

.menu-vertical {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu-horizontal {
  display: flex;
  flex-direction: row;
  gap: 12px;
  list-style-position: inside;
  list-style-type: circle;
}

.contacts {
  max-width: 240px;
  overflow-wrap: break-word;
  font-style: normal;
  line-height: 1.35em;
}

.contacts li {
  overflow-wrap: break-word;
  word-break: break-word;
  list-style-type: none;
}

.contacts p {
  margin: 0;
  font-style: normal;
}

/* Specific classes */

/* Header */

.header {
  display: grid;
  grid-template-columns:
    minmax(min-content, 1fr)
    auto
    minmax(min-content, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding: 93px 50px;
}

.header > nav {
  justify-self: start;
  align-self: center;
}

.header > address {
  justify-self: end;
  align-self: center;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image:hover {
  transform: scale(1.02);
}

/* Cover */

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 757px;
  padding: 165px 50px 50px 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/cover.jpg") center/cover no-repeat;
}

.cover__title {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  width: 100%;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
}

.cover__title_text_end {
  display: block;
  margin-left: auto;
  text-align: right;
  transform: translateX(30px);
}

.cover__title_text_center {
  display: block;
  margin: 0 auto;
  text-align: center;
  transform: translateX(15px);
}

.cover__description {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__subtitle {
  margin-right: auto;
  line-height: 28px;
  word-spacing: 0.85em;
}

/* Button */

.button_make-bet {
  margin-left: auto;
  border: 1px solid white;
  border-radius: 0;
  padding: 11px 31px;
  color: inherit;
  font-family: Raleway, sans-serif;
  font-size: inherit;
  text-transform: inherit;
  background-color: transparent;
  cursor: pointer;
}

.button_make-bet:hover {
  border-width: 2px;
  padding: 10px 28px;
  font-weight: bold;
}

/* Lots */

.lots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  margin: 180px 24px 120px 24px;
}

.lots__title {
  width: fit-content;
  margin-left: 40px;
}

.lots__grid {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  gap: 25px;
  margin: 0;
}

/* Card */

.card {
  display: flex;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    var(--bg) center/cover no-repeat;
}

.card:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--bg);
}

.card__link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  height: 100%;
  padding: 48px 40px;
}

.card__title {
  font-size: 22px;
  line-height: 120%;
}

.lots__more {
  width: fit-content;
  margin-left: 40px;
  font-size: 20px;
  text-transform: lowercase;
}

/* About */

.about {
  display: flex;
  justify-content: space-between;
  margin: 0 24px 0 24px;
  padding: 37px 0 180px 47px;
}

.about__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000000;
  transition: transform 0.3s ease;
}

.about__logo-link:hover {
  transform: scale(1.02);
}

.about__logo-image {
  width: 148px;
  height: 144px;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  width: 693px;
  margin: 100px 0 0 0;
}

.about__title {
  margin-bottom: 80px;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 50px 82px 50px;
}

/* Socials */

.socials {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.social__icon {
  width: 48px;
  height: 48px;
  transition: transform 0.3s ease;
}

.social__icon:hover {
  transform: scale(1.1);
}

/* Background images */

.card_type_film {
  --bg: url("../images/card-lot-01.jpg");
}

.card_type_book {
  --bg: url("../images/card-lot-02.jpg");
}

.card_type_painting {
  --bg: url("../images/card-lot-03.jpg");
}
